/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




*{
	text-decoration:none;
  padding:0;
  margin:0;
}


.textbox h1 {
  margin-top: 95px;
  color:white;
  text-align: center;
  font-size: 75px;
  font-family:Catamaran;
}



header{
background-color: #fff;
width: 100%;
height:100px;
}

.header-brand {
font-family: Catamaran;
font-size: 100px;
font-weight: 900;
color: #111;
display:block;
margin: 0 auto;
text-align:center;
padding: 20px 0;
text-align: center;
}

header nav ul {

	display: block;
	margin: 0 auto;
	width: fit-content;
}

header nav ul li {
	display: inline-block;
	float:left;
	list-style:none;
	padding:0 25px;
	text-align:center;
}

header nav ul li a {
	font-family: Catamaran;
	font-size: 50px;
	color: #111;
	display:block;
	margin: 0 auto;
	text-align:center;
	padding: 20px 0;

}

header .header-restaurants {
	display:none;
}

main {
	text-align:center;
	display:block;
	margin: 0 auto;
	text-align:center;
	padding: 200px 0;
}


/*INDEX*/



.index-boxlink-1 {
 margin: 30px 30px 0;
 width: calc(100%-60px);
 height: 75px;
 background-color: #f3f3f3;
 text-align: center;
 color:black;
}
.index-boxlink-2 {
 margin: 30px 30px 0;
 width: calc(100%-60px);
 height: 75px;
 background-color: #f3f3f3;
 text-align: center;
 color:black;
}
.index-boxlink-3{
 margin: 30px 30px 0;
 width: calc(100%-60px);
 height: 75px;
 background-color: #f3f3f3;
 text-align: center;
 color:black;
}

.index-boxlink-4{
 margin: 30px 30px 0;
 width: calc(100%-60px);
 height: 75px;
 background-color: #f3f3f3;
 text-align: center;
 color:black;
}

footer{
width: calc(100%-80px);
padding: 40px 40px;
background-color: #111;
margin-top:0px;
height:110px;
}

footer ul {
	font-family: Catamaran;
	font-color:white;
	width: fit-content;
	float:left;
	padding-left:20px;
}

footer ul li  {
	display:block;
	list-style:none;

}

footer ul li a  {
	font-family: Catamaran;
	color:white;
}

#button1{
  width:  600px;
  height: 75px;
  font-size: 35px;
  font-family: Catamaran;
  text-align:center;
  position: fixed;
 top: 100%;
 left: 75%;
 margin-top: 175px;
margin-left: -35px;
background-color:  #808080;

}
#button2{
    width: 600px;
    height: 75px;
    font-size: 35px;
    font-family: Catamaran;
    text-align:center;
  position: fixed;
 top: 100%;
 left: 75%;
 margin-top: 0px;
 margin-left: -35px;
 background-color:  #808080;
}
#button3{
    width: 600px;
    height: 75px;
      font-size: 35px;
    font-family: Catamaran;
    text-align:center;
  position: fixed;
 top: 100%;
 left: 75%;
 margin-top: 0px;
margin-left: -35px;
background-color:  #808080;
}

#button4{
    width:600px;
    height: 75px;
    font-size: 35px;
    font-family: Catamaran;
    text-align:bottom;
    position: fixed;
   top: 100%;
   left: 75%;
   margin-top: 0px;
   margin-left: -35px;
   background-color:  #808080;

 }
#container{
    text-align: center;
    float:bottom;
  vertical-align::center;
}



/* Style inputs with type="text", select elements and textareas */


input[type=text], select, textarea {
  font-family:Catamaran;
  color:white;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  font-family: Catamaran;
  background-color: black;
  color: white;
  text-weight:600px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  font-family:Catamaran;
  margin-top:150px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
